
html {
    scroll-behavior: smooth;
   }
   
    *{
    text-decoration: none;
    }



    body {
        font-size: 17px;
        line-height: 1.6;
    }

.userContainer{
    background: url(https://images.pexels.com/photos/571169/pexels-photo-571169.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 20px;
}


    /* Navigation bar */

     .navHeader{
        display: flex;
        top: 0;
        left:0;
        right:0;
        width: 100%;
        align-items: center;
        height: 90px;
        padding: 0 32px;
        background-color:#25383C;
        color: #ddd;
        margin: 0 auto;
     }

     .dropdown{
        position: relative;
     }

     .dropdown-menu{
        position: absolute;
        left: 0;
        top: calc(100% + .25rem) ;
        padding: .75rem;
        background-color: #ddd;
        border-radius: .25rem;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
        color: #121212;
        opacity: 0;
        pointer-events: none;
        transform:  translateY(-10px);
        transition:  opacity 150ms ease-in-out, transform 150ms ease-in-out;
     }

     .dropdown.active > .link + .dropdown-menu{
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
     }

     .information-grid{
        display: grid;
        grid-template-columns: repeat(2, max-content);
        gap: 2rem ;
     }

     .dropdown-links{
        display: flex;
        flex-direction: column;
        gap: .25rem;
     }

     .link {
        background: none;
        border: none;
        text-decoration: none;
        color: #777;
        font-family: inherit;
        font-size: inherit;
        cursor: pointer;
        padding: 0;
      }

      .navHeader span{
        padding: 0px 10px 0px 20px;
        border-right: 0.5px solid #a19f9f;
      }

     nav{
        display: flex;
        align-items: center;
        height: 90px;
        padding: 0 32px;
        background-color:#25383C;
        color: #ddd;
     }

     nav a,.link{
        padding: 0px 10px 0px 10px;
        color: #6a6666;
        text-decoration: none;
        border-right: 0.5px solid #a19f9f;
     }

     .home-btn {
        padding: 0px 10px 0px 0px;
        border-right: 0.5px solid #a19f9f;
      }


     nav a:hover{
        color: #2998cf;
     }

     nav button:hover{
        color: #2998cf;
     }

     .navHeader .nav-btn{
        padding: 5px;
        cursor: pointer;
        background: transparent;
        border: none;
        outline: none;
        visibility: hidden;
        opacity: 0;
     }

     /* Login page */

     
     .login-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #1b1a1a;

     }

     .login-wrapper input{
        width: 100%;
        height: 50px;
        background: transparent;
        border: none;
        outline: none;
        font-size: 1em;
        padding: 0 35px 0 5px;
        border-bottom: 2px solid #fff;
        color: #1c1c1c;
     }
     fieldset{
       border: none;
       margin: 30px 0;
       width: 310px;
     }
     .login-wrapper label{
      
      top: 50%;
      left: 5px;
      transform: translateY(-50%);

      transition: .5s;
     }


     h1{
        text-align: center;
     }
 
     .formBox{
         width: 450px;
         background: transparent;
         padding: 30px;
         border: 2px solid #25383C;
         border-radius: 20px;
         backdrop-filter: blur(15px);
         display: flex;
         flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .forgot{
        text-decoration: none;
        text-align: center;
        font-weight: 600;
        padding: 10px;
        color: #fff;
      }
      .forgot:hover{
        text-decoration: underline;
      }

      .formBox button{
       width: 100%;
       height: 40px;
       border-radius: 40px;
       background-color: #25383C;
       color: #a19f9f;
       border: none;
       outline: none;
       cursor: pointer;
       font-size: 1em;
       font-weight: 600;
     }

          /* Register page */
          .register-wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            color: #1b1a1a;
    
         }

         .twobytwo{
            width: 450px;
            background: transparent;
            border-radius: 20px;
            display: flex;
           justify-content: center;
           align-items: center;
         }

    /* Home page banner */
#banner{
	background-image: url('pexels-vladimir-srajber-14781212.jpg');
	background-size: cover;
	background-position: center;
	height: 400px;
    width: 900px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 50px 20px;
}

#banner-2{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2px;
	padding: 50px 20px;
}
#banner-2 h1{
    font-size: 50px;
    color: #ffffff;
    }
    
    
        #banner-2 p{
            font-size: 30px;
            color: #ffffff
        }
    
    
    #banner-2 .button{
        font-size: 18px;
        text-decoration: none;
        color: #ffffff;
        border: #ffffff 1px solid;
        padding: 10px 20px;
        border-radius: 10px;
    }

    #part-1{
        height: 30vh;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 15px;
        padding: 0 20px;

    }
    .-a{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        height: 200px;
        width: 200px;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 #3c3939, 0 6px 20px 0 #333;
        background-color:  #E5E4E2;
    }
    
    .-b{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        height: 200px;
        width: 200px;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 #3c3939, 0 6px 20px 0 #333;
        background-color:  #E5E4E2;
    }
    
    .-c{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        height: 200px;
        width: 200px;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 #3c3939, 0 6px 20px 0 #333;
        background-color:  #E5E4E2;
    }
    
    #part-1 a{
        font-size: 18px;
        text-decoration: none;
        color: #121212;
        border: #121212 1px solid;
        padding: 10px 20px;
        border-radius: 10px;
    }


    /* Admin table design */

    tr:hover {background-color: #9bb265;}

      th, td {
        border-bottom: 1px solid #ddd;
      }

      th {
        background-color: #25383C;
        color: white;
      }

      tr:nth-child(even) {
        background-color: #25383C;
        color: white;
    }
    tr:nth-child(even) td:last-child button {
        background-color: white;
        color: #150f0f;
    }
      table{
        width: 100%;
      }

      td {
        text-align: center;
      }


      /* Footer Design */
.footer{

    padding: 70px 0px;
	background-color:#25383C;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 15px;
    color: #ffffff;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 33%;
    padding: 0 50px;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
content: "";
position: absolute;
left: 0;
bottom: -10px;
background-color: #e91e63;
height: 2px;
box-sizing: border-box;
width: 50px;
}

.footer-col ul li:not(:last-child){
margin-bottom: 10px;
    }

    .footer-col ul li a{
        font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 500;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
            }

            .footer-col ul li a:hover{
                color: #ffffff;
                padding-left: 10px;
            }
.container{
    max-width: 1170px;
    margin: auto;
}

ul{
    list-style: none;
}

/* profilepage */

.sidebar{
  position: fixed;
  left: -250px;
  top: 90px;
  width: 250px;
  height: 100%;
  background: #042331;
  transition: all .5s ease;
}

.sidebar header{
  font-size: 22px;
  color: white;
  text-align: center;
  line-height: 70px;
  background: #063146;
  user-select: none;
}

.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255,255, 255, .1);
  border-bottom: 1px solid black;
  transition: .4s;
}

.sidebar ul li:hover a{
  padding-left: 50px;
}
/* .sidebar ul a .icon{
  margin-right: 16px;
  font-size: ;
} */

#check{
  display: none;
}

label #btn,label #cancel{
  position: absolute;
  cursor: pointer;
  background: #042331;
  border-radius: 3px;
}

label #btn{
  left: 20px;
  position: fixed;
  top: 130px;
  font-size: 35px;
  color: white;
  padding: 6px;
  transition: all .5s;
}

label #cancel{
  z-index: 1111;
  left: -195px;
  position: fixed;
  top: 100px;
  font-size: 30px;
  color: #d11e1e;
  padding: 4px 9px;
  transition: all .5s;
}

#check:checked ~ .sidebar{
  left: 0;
}

#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ label #cancel{
  left: 195px;
}

.display{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  height: 800px;
  width: 900px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 #3c3939, 0 6px 20px 0 #333;
  background-color:  #E5E4E2;
}
@media only screen and (max-width: 1024px) {
    
}