
html {
    scroll-behavior: smooth;
   }
   
*{
    text-decoration: none;
    }
    body {
        /* note the indentation here */
        /* background-color: #2d386d; */
        font-size: 17px;
        line-height: 1.6;
    }

    
#banner{
	background-image: url('pexels-vladimir-srajber-14781212.jpg');
	background-size: cover;
	background-position: center;
	height: 100vh;
    width: 100%;
    margin-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
	padding: 0 20px;
}

#banner-2{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2px;
	padding: 0 20px;
}
#banner-2 h1{
    font-size: 50px;
    color: #ffffff;
    }
    
    
        #banner-2 p{
            font-size: 30px;
            color: #ffffff
        }
    
    
    #banner-2 .button{
        font-size: 18px;
        text-decoration: none;
        color: #ffffff;
        border: #ffffff 1px solid;
        padding: 10px 20px;
        border-radius: 10px;
    }

    #part-1{
        height: 50vh;
        display: flex;
        background-color: #353434;
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 15px;
        padding: 0 20px;
        box-shadow: 0 4px 8px 0 #3c3939, 0 6px 20px 0 #333;
    }
    .-a{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        height: 200px;
        width: 200px;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 #3c3939, 0 6px 20px 0 #333;
        background-color:  #E5E4E2;
    }
    
    .-b{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        height: 200px;
        width: 200px;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 #3c3939, 0 6px 20px 0 #333;
        background-color:  #E5E4E2;
    }
    
    .-c{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        height: 200px;
        width: 200px;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 #3c3939, 0 6px 20px 0 #333;
        background-color:  #E5E4E2;
    }
    
    #part-1 a{
        font-size: 18px;
        text-decoration: none;
        color: #121212;
        border: #121212 1px solid;
        padding: 10px 20px;
        border-radius: 10px;
    }

    tr:hover {background-color: #9bb265;}

      th, td {
        border-bottom: 1px solid #ddd;
      }

      th {
        background-color: #25383C;
        color: white;
      }

      tr:nth-child(even) {
        background-color: #25383C;
        color: white;
    }
    tr:nth-child(even) td:last-child button {
        background-color: white;
        color: #150f0f;
    }
      table{
        width: 100%;
      }

      td {
        text-align: center;
      }


.footer{

    margin-top: 60px;
	background-color:#25383C;
	height:20vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 15px;
}



.social{
	display: flex;
	justify-content: center;
	align-items: center;
}

.social a{
padding: 20px;
color: #bbb2ec;
}

.social a:hover{
	color: #d34e1e;
	}

.footer p:nth-child(1){
font-size: 25px;
color: #dddce2;
font-weight: bold;
}
.footer p:nth-child(2){
	font-size: 14px;
	color: #dddce2;
	}